.App {
  text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.ritualsList {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.ritualsList:after {
    content: "";
    display: table;
    clear: both;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
